@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Condensed"),
        url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff2") format("woff2"),
        url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff") format("woff");
}


html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    display: inline-block;
}

ul {
    list-style: none;
}

body {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #1b1818;
    /*font-family: "Fira Sans", "Arial", sans-serif;*/
}

.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    background-color: #f1f1f1;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
}

.menu__list {
    display: flex;
}

.menu__item:not(:last-child) {
    margin-right: 15px;
}

.menu__list-link {
    text-transform: uppercase;
    color: #fefefe;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 5px;
    transition: all .5s;
    border-bottom: 1px solid transparent;
}

.menu__list-link:hover {
    border-bottom: 1px solid #fefefe;
}


.phone {
    color: #fefefe;
    font-size: 18px;
    line-height: 21px;
}

.top {
    padding-bottom: 100px;
}

.top__heading {
    display: flex;
    margin: 50px 0 105px;
}

.top__content {
    text-align: center;
    padding-top: 90px;
    width: 50%;
}

.top__title {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: calc(42px + 6 * (100vw / 1280));
    line-height: 58px;
    margin: 0 auto 20px;
    max-width: 555px;
}

.top__text {
    font-size: calc(20px + 4 * (100vw / 1280));
    line-height: 28px;
    margin: 0 auto 60px;
    max-width: 470px;
}

.application-btn {
    text-transform: uppercase;
    color: #fefefe;
    background-color: #3e59e2;
    padding: 16pt 19pt 15pt;
    transition: all .5s;
    border: 1px solid transparent;
    border-radius: 5px;
}

.application-btn:hover {
    color: #c5ac2d;
    background-color: #fefefe;
    border: 1px solid #c5ac2d;
}

.top__slider {
    width: 50%;
}

.top__slider .slick-dots {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.top__slider-images {
    object-fit: contain;
}

.top__slider-text {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    padding: 50px 100px 0 0;
    text-align: right;
}

.top__slider-text span+span {
    padding-left: 12px;
}

.footer {
    padding: 100px 0 24px;
    background-color: #f1f1f1;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
}

.footer__social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__social-link {
    margin: 0 15px;
    transition: 0.3s;
}

.footer__social-link:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

.menu__btn {
    display: none;
}

@media (max-width: 1000px) {
    .top__heading {
        display: block;
    }

    .top__content {
        width: 100%;
        padding-top: 30px;
    }

    .footer .menu {
        display: none;
    }
}


@media (max-width: 860px) {
    .menu {
        order: 1;
    }

    .menu__list {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background-color: #332208;
        text-align: center;
        padding: 20px 0;
        transform: translateY(-500px);
        transition: all .5s;
    }

    .menu__list.menu__list--active {
        transform: translateY(0);
    }

    .menu__list-link {
        display: block;
        padding: 20px 0;
    }

    .menu__btn {
        position: relative;
        display: block;
        cursor: pointer;
        width: 35px;
        height: 24px;
        border: none;
        border-top: 2px solid #fefefe;
        border-bottom: 2px solid #fefefe;
        background-color: transparent;
    }

    .menu__btn::before {
        content: "";
        position: absolute;
        width: 35px;
        height: 2px;
        background-color: #fefefe;
        left: 0;
        top: 9px;
    }

    .footer {
        padding: 50px 0;
    }
}

@media (max-width: 525px) {

    .top__slider-text {
        padding-right: 0;
    }

    .top__title {
        font-size: calc(42px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
    }

    .top__text {
        font-size: calc(20px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
    }
}

@media (max-width: 450px) {
    .footer__top {
        flex-direction: column;
        align-items: center;
    }

    .footer .phone {
        margin-top: 30px;
        display: inline-block;
    }
}
